.developer {
  .icon-size {
    margin: 1em 0;
  }

  .icon-sizing-example {
    display: flex;
    background-color: #eee;
    border-radius: 2px;
    border: solid 1px #ddd;
    margin: 0 0.5em;

    .demo {
      margin: 0 0.5em;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
  }

  .icon-view {
    border-collapse: collapse;

    .icon {
      font-size: 2em;

      &.icon-venn-combine {
        fill: rgba(0,0,0,0);
      }

      &.icon-venn-disjunction {
        fill: rgba(0,0,0,0);
      }
      margin: 4px;
    }

    .code {
      background: #eee;
      border-radius: 2px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      font-family: mono;
    }

    td {
      padding: 2px;
    }

    tr:nth-child(even) {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
