.developer { .icon-view {
    border-collapse: collapse;

    .icon {
        font-size: 2em;
        color: #666;
        fill: #666;
        margin: 4px;
    }

    .code {
        background: #eee;
        border-radius: 2px;
        border: solid 1px rgba(0,0,0,0.2);
        font-family: mono;
    }

    td {
        padding: 2px;
    }

    tr:nth-child(even) {
        background: rgba(0,0,0,0.1);
    }
}
}
