@import "overrides";
@import "variables";
// well done, you've found the correct location to edit bluegenes specific
// imtables styles. Don't use im-tables.less, because it's a copy/paste from
// the imtables repo.

@lightish-grey: #ccc;

.im-table {
  .btn {border:0;}
    .btn .fa {margin-right: @spacer/4; margin-top:-2px}
    .btn-group {
        margin: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        button {
            padding: 3px 5px;
        }
    }

    .column-summary-toolbar .btn {
        .btn-raised-override;
        margin: 0;
    }

    .no-histogram {
        border-top-left-radius: 2px;
    }

    .column-summary {
        .table {
            margin-bottom: 0;
        }
        border-bottom: solid 1px  @lightish-grey;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.18);
    }

    .filter-view {
        .btn-primary {
            .btn-raised-override;
        }

        .imtable-constraint {
            border: solid 1px  @lightish-grey;

            .constraint-input {
                margin: 0;
                padding: 0;
            }

            select.form-control {
                border: 0;
                border-right: solid 1px  @lightish-grey;
            }

            .btn,
            input {
                border: 0;
                border-radius: 0;
            }

            .btn {
                border-left: solid 1px  @lightish-grey;
            }

            .btn,
            select {
                background-color: #ddd;
            }
        }

        .btn {
            margin: 0;
        }
    }
    /* fix bootstrap silly negative margins */
    .pagination-bar {
        margin-left: 4px;
    }

    .dashboard-buttons > .btn-group {
        border: solid 1px  @lightish-grey;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        margin: 0.5em 0.25em;
        border-radius: 2px;
        min-height: 2.2em;
        display: flex;
        align-items: center;
    }

    .dashboard-buttons .dropdown-toggle {
        min-height: 2em;
    }

    .im-table-toolbar label {
      .dark-text;
    }
}

.results-and-enrichment {
    display: flex;
    flex-direction: row;
    //smaller screens:
    @media (max-width:1000px) {
        flex-direction: column;
    }

    .im-table {
        height: 100%;
    }
}
