div.saved-data-container {

    .col {
        padding: 10px;
        display: flex;
    }

    .saved-data-item {
        width: 100%;

        &.editing {
                border: 1px solid red;
            }
    }

    .category {
        font-size: 1em;
        font-style: italic;
        padding: 5px;
        display: inline-block;
        margin: 2px;
    }


}

.save-bar {
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
}

