div.saved-data-container {

    .col {
        padding: 10px;
        display: flex;
    }

    .saved-data-item {
        width: 100%;
    }
}

.save-bar {
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
}