@import "../resources/public/vendor/bootstrap/less/bootstrap";
@import "../resources/public/vendor/font-awesome/less/font-awesome";
@import "json-html";
@import "overrides";
@import "components/navbar";
@import "variables";


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
    font-family: 'Open Sans', sans-serif;
    background: @body-background-color;
    color: @body-foreground-color;
}

a.callout {
    color: @link-color;
    border-bottom: 1px solid #c4c4c4;
    padding: 2px;
    text-decoration: none;
    &:hover {
        border-bottom: 1px solid @highlight-color;
    }
}

.down-shadow {
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.33);
}

.panel {
    padding: 15px;
    .down-shadow;
}

div.logged-in {
    background: @highlight-color;
    color: white;
    padding: 3px;
}

div.welcome {
    background: #3e3e3e;
    margin-top: -20px;
    padding: 30px;
    color: white;
    background: #e0e0e0;
    color: black;
    text-align: center;
}

div.header {
    background: #3e3e3e;
    padding: 30px;
    color: white;
    background: #e0e0e0;
    color: black;
    text-align: center;
}

.full-width {
    width: 100%;
}