

@body-background-color: #f7f7f7;
@body-foreground-color: #444444;

@link-color: #000;

@highlight-color: #00a8fc;
@highlight-color: #006a9f;
@highlight-color: #009688;

@fa-font-path:        "/vendor/font-awesome/fonts";


// @body-background-color: #fdfbf4;
// @highlight-color: #f7cd3c;


