@body-background-color: #f7f7f7;
@body-foreground-color: #444444;
@link-color: #000;
@highlight-color: #039BE5;
@highlight-color-text: #fff;
@cta-color: @highlight-color;
@cta-color-text: @body-background-color;
@selectedColor: #3F51B5;
@selectedColorText: @body-background-color;
@stripe-color: #f6f6f6;
@light-contrast: #e2e2e2; 
@notice-me: #F57F17;
@navbar-color: #505050;
@navbar-color-text: #fff;

@border-radius: 2px;
@spacer: 1em;

//useful breakpoint:
@tiny-screen: 767px;
@even-tinier-screen: 600px;

.dark-text {
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.border-radius {
    border-radius: @border-radius;
}

.button-color {
    background: @highlight-color;
    color: @cta-color-text;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.transitions {
    transition: all 0.5s ease;
}

.box-shadow {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.header-styles {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-bottom: solid 1px @highlight-color;
    }
}
