/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/js/min
/resources/public/css
/resources/public/tools
config/**/*.edn
.lein-failures
out
.idea
*.iml
node_modules
.lein-repl-history
.nrepl-port
.DS_Store
pom.xml
package-lock.json