/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/js/min
/resources/public/js/test
/resources/public/vendor
/resources/public/css
/resources/public/tools/*
/cypress/screenshots
/cypress/videos
/cypress/results
/cypress/downloads
config/**/*.edn
!config/defaults/config.edn
.lein-failures
out
.idea
*.iml
node_modules
.lein-repl-history
.rebel_readline_history
.nrepl-port
.DS_Store
pom.xml
prepros.cfg
/env/
/.clj-kondo/
/tools/
/.cljs_node_repl/
/.lsp/
/*.jks
/.lein-env
