/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/js/min
/resources/public/js/test
/resources/public/vendor
/resources/public/css
/resources/public/tools/*
/tools/bluegenes**
/cypress/screenshots
/cypress/plugins
/cypress/videos
/cypress/support
/cypress/fixtures
config/**/*.edn
!config/defaults/config.edn
.lein-failures
out
.idea
*.iml
node_modules
.lein-repl-history
.nrepl-port
.DS_Store
pom.xml
package-lock.json
prepros.cfg
/env/
/.clj-kondo/
