.navbar-default .navbar-brand {
  color: #6b6b6b;
  background: #0dacfc;
  color: white;
  font-style: bold;
  -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
  margin: 0;
}
.navbar-default {
  font-size: 15px;
  background-color: #ffffff;
  border-width: 0;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #a8a8a8;
  background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333333;
  background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #00a8fc;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #ffffff;
}
@media (max-width: 800px) {
  .navbar-header {
    align-self: flex-start;
  }
  .navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .container > .navbar-collapse.navigation,
  .container-fluid > .navbar-collapse.navigation {
    border-top: 0;
    margin-bottom: 0;
    margin-top: 5px;
    flex-grow: 1;
    justify-content: space-around;
    margin-left: 0;
    display: flex;
  }
  .navbar-nav.buttons {
    margin-top: 0;
    display: flex;
    flex-grow: 1;
    border-top: solid 1px #ccc;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .navbar-nav.buttons li.search {
    display: none;
  }
}
