.navbar-default .navbar-brand {
  color: #6b6b6b;
  background: #0dacfc;
  color: white;
  font-style: bold;
  -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
}
.navbar-default {
  font-size: 15px;
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #a8a8a8;
  background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: rgba(248, 248, 248, 0);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00a8fc;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}
