.input-dashed-style {
    border: dashed 1px #ccc;
    margin: 0.5em 0;
    box-sizing: border-box;
    padding: 1em;
    min-height: 3em;
    vertical-align: middle;
    background: rgba(0,0,0,0.04);
    flex-grow: 1;
    min-width: 30%;
}
