@import "../variables";

@border-color: #ccc;
@height:2em;

.input-group {
    input {
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        border: solid 1px @border-color;
        height: 2em;
        margin: 0;
        &:focus {

        }
    }

    .content {
        background: #eee;
        display: inline-block;
        margin: 0;
        position: relative;
        border: solid 1px @border-color;
        vertical-align: baseline;
        top: -1px;
        border-left: 0;
        padding: 0 0.5em;
        vertical-align: middle;
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        height: @height;
        line-height: @height - 0.2em;
    }
}
