@import "../variables";
@import "../datatype-colors";
@sidebar-width: 300px;

div.indent {
    padding-left: 10px;
}

.sidebar .form-control,
label {
    font-size: 0.8em;
    color: #525252;
}

.sidebar {
    h4 {
        background: fadeout(@highlight-color, 80%);
        padding: 0.5em 0.2em;
        color: #333;
        font-size: 1.2em;
        &.inactive {
          background:lightgrey;
        }
    }

    i {
        padding: 0 10px;
    }

    .enrichment-settings {
      border-top:solid 1px #ddd;
        display: flex;
        justify-content: space-between;
        margin-bottom: @spacer/3;
        //for when it breakpoint wraps underneath the table:
        @media (max-width:990px) {
            justify-content: flex-start;

            .correction,
            .pval {
                margin: @spacer;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        input, select {
            .border-radius;
            border:solid 1px #ddd;
        }

        .pval select {
            max-width: 5em;
        }
    }
    justify-content: space-between;

    .enrichment-header,
    .enrichment-list {
        padding-left: 0;
        font-size: 0.9em;

        li {
            transition: all 0.25s ease;
            list-style-type: none;

            &:not(:last-child) {
                border-bottom: 1px dotted #c1c1c1;
            }

            &:hover {
                background-color: white;
                color: black;
            }
        }

        .col-xs-8:first-child {
            padding-left: 0;
        }

        .col-xs-4:last-child {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .enrichment-header {
        .p-val {
            text-align: right;
        }
        font-weight: bold;
    }

    div.popover-contents {
        padding: 5px 0;

        div.title {
            font-size: 1.2em;
            padding-bottom: 4px;
        }

        div.value {}
    }
}

.enrichment-column-settings {
    font-size: 0.9em;
    width: 100%;
    .transitions;

    .the-column {
        white-space: nowrap;
        display: inline;
        text-overflow: ellipsis;
        font-family: courier, mono, monospace;
    }

    .column-chooser {
        .transitions;

        ul {
            padding-left: 1em;
            word-wrap: break-word;

            .active {
                font-weight: bold;

                &:hover {
                    text-decoration: none;
                    cursor: auto;
                }
            }
        }
    }
}

.has-left-sidebar {
    margin-left: @sidebar-width;
}

.inline {
    display: inline;
}

.gone {
    opacity: 0;
    max-height: 0;
}

.present {
    opacity: 1;
    max-height: 500px;
}

.expandable {
    transition: all 0.3s ease;
}

.autoscroll {
    overflow: auto;
}

.breadcrumb-container {
    padding: 10px;
}
//this can't be namespaced nicely because twitter bootstrap is evil and
//creates a new element that won't inherit all of the nicely namespaced classes. Sigh.

.sidebar-popover.popover-contents {
    color: #fff;
}
