@import "../../variables";

.report {
  h1, h2, h3, h4, h5, h6 { border-bottom:solid 1px @highlight-color;
}
    .breadcrumb {
        padding-left: 2px;
    }

    .field-label {
        font-style: italic;
        font-size: 0.8em;
        padding-right: 5px;
        color: @highlight-color;
    }

    .field-value {
        font-size: 1.2em;
        padding-right: 5px;
    }

    .field-group {
        padding-bottom: 5px;
    }

    .report-summary {
        margin-bottom: 1em;

        .fields {
            display: flex;
            flex-wrap: wrap;

            .field {
                flex-grow: 1;
                min-width: 400px;
                h4 {border:0;}
            }
        }
    }

    .collections {
        display: flex;
        flex-direction: column;
    }
    //put light table results before "empty" boxes. Because empty is so boring.
    .lt {
        order: 1;
    }

    .no-results {
        order: 1000;
    }
}

.no-homies {display:inline-block;margin:0px 4px }
.homologuelinks {
    display: flex;
    flex-wrap:wrap;
    .onemine {
        flex-grow: 1;
        margin:2px;
        &:first-child {margin-left:0px;}
        &:last-child {margin-right:0px;}
    }

    li,
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }
}
