@import "../../variables";

.report {
    .breadcrumb {
        padding-left: 2px;
    }

    .field-label {
        font-style: italic;
        font-size: 0.8em;
        padding-right: 5px;
        color: @highlight-color;
    }

    .field-value {
        font-size: 1.2em;
        padding-right: 5px;
    }

    .field-group {
        padding-bottom: 5px;
    }

    .report-summary {
        margin-bottom: 1em;

        .fields {
            display: flex;
            flex-wrap: wrap;

            .field {
                flex-grow: 1;
                min-width: 400px;
            }
        }
    }

.collections {
  display:flex;
  flex-direction: column;}
  //put light table results before "empty" boxes. Because empty is so boring.
  .lt {order:1;}
  .no-results {order:1000;}
}
