@import "../../variables";

div.summary-item {
    width: 50%;
    border: 1px solid green;
}

div.summary-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid red;
}

.field-label {
    font-style: italic;
    font-size: 0.8em;
    padding-right: 5px;
    color: @highlight-color;
}

.field-value {
    font-size: 1.2em;
    padding-right: 5px;
}

.field-group {
    padding-bottom: 5px;
}
