.navbar-default .navbar-brand:hover {
  background: #57c7ff;
  color: white;
}
.navbar {
  margin-bottom: 0;
}
.padme {
  padding: 20px 0 20px 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: green;
}
