@import "../variables";

.icon(@icon-size) {
  vertical-align: top;
  margin-top: 1px;
  display: inline-block;
  width: @icon-size;
  height: @icon-size; //    fill: @link-color;
  margin: 0 @icon-size/2;
}

.icon{

  &-rat{

  enable-background: new 0 0 493.008 493.008;}

  &-fly{
  enable-background :new 0 0 563.881 563.881;}

  &-human{
  enable-background: new 0 0 206 206.326;}
  .icon(1em);

}

.icon-2x {
  .icon(2em)
}


