div.idresolver {
    width: 100%;
    background: white;
}

div.id-resolver-item {
    padding: 5px;
    margin: 2px;
    border-radius: 4px;
    display: inline-block;
    float: left;
    transition: all 1s;
    &.inactive {
        color: white;
        background: grey;
    }
    &.MATCH {
        color: white;
        background: green;
    }
    &.DUPLICATE {
        color: black;
        background: #dede00;
    }
    &.UNRESOLVED {
        color: white;
        background: red;
    }
    &.TYPE_CONVERTED {
        color: white;
        background: green;
    }
    &.OTHER {
        color: white;
        background: green;
    }
}

  input.freeform {
    float: left;
    padding: 9px 0;
    border: none;
    margin: 2px;
    font-size: 1em;
    background: transparent;
    color: #2d2d2d;
    flex: 1 0;
    outline: none;
    &:focus {
      border-bottom: 1px solid black;
    }
  }

  .headerwithguidance  {
    display:flex;
    justify-content:flex-start;
    align-items:baseline;

  .guidance {margin-left:1em;}
}
