@import "../../resources/public/vendor/bootstrap/less/bootstrap";
@import "../variables";
@import "../datatype-colors";
@import "../../resources/public/vendor/bootstrap-material-design/less/bootstrap-material-design";

.idresolverupload {
    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                  not supported by any browser */
    }

    .matchcolors {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        .transitions;

        &.inactive {
            color: white;
            background: grey;
        }

        &.TYPE_CONVERTED, &.MATCH {
            color: white;
            background: green;
        }

        &.OTHER , &.DUPLICATE {
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
            color: rgba(0,0,0,0.87);
            background: #dede00;
        }

        &.UNRESOLVED {
            color: white;
            background: red;
            background: repeating-linear-gradient( 45deg, #9F0000, #9F0000 10px, #BD0000 10px, #BD0000 20px);
        }
    }

    .dashed {
        border: dashed 1px #ccc;
    }

    .eenput {
        .transitions;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .matchcolors;

        .idresolver,
        .upload-file {
            .dashed;
            margin: 0.5em 0;
            box-sizing: border-box;
            padding: 1em;
            min-height: 3em;
            vertical-align: middle;
            background: rgba(0,0,0,0.04);
            flex-grow: 1;
            min-width: 30%;
        }

        .idresolver button {
            display: block;
        }

        .upload-file {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-width: 30%;
            margin-left: 0.4em;

            .icon {
                margin: 0.5em;
                fill: rgba(0,0,0,0.3);
                font-size: 2em;
                min-width: 2em;
            }

            p {
                margin: 0;
                text-align: center;
                font-size: 1em;
            }

            .browseforfile {
                input {
                    display: none;
                }
                text-decoration: underline;
                font-size: 1em;
                color: @highlight-color;
            }
        }

        .idresolver {
            min-width: 50%;
            display: flex;
            flex-direction: column;

            .controls {
                align-self: flex-end;
            }

            .placeholder {
                color: @body-foreground-color;
            }

            ::-webkit-input-placeholder {
                .placeholder
            }

            :-moz-placeholder {
                .placeholder
            }

            ::-moz-placeholder {
                .placeholder
            }

            :-ms-input-placeholder {
                .placeholder
            }
            width: auto;
            .noselect;
        }
    }

    .id-resolver-item-container {
        margin: 1px;
        border: 2px solid transparent;
        border-radius: 4px;

        &.selected {
            border: 2px dotted #bbc5c4;
            background: @highlight-color;
        }
    }

    .id-resolver-item {
        @idsize: 0.4em;
        padding: @idsize 2*@idsize;
        margin: 1px 3px;
        border-radius: 4px;
        display: inline-block;
        transition: background 1s;
        .matchcolors;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            transition: background 0.2s;
            background: @highlight-color
        }
    }

    .input-items {
        display: flex;
        flex-wrap: wrap;
    }

    .freeform {
        padding: 9px 0;
        border: none;
        margin: 2px;
        font-size: 1em;
        background: rgba(255,255,255,0.2);
        color: #2d2d2d;
        flex: 1 0;
        outline: none;
        width: 100%;
        .transitions;
        border-bottom: solid 1px transparent;

        &:focus {
            .transitions;
            border-bottom: solid 1px #2d2d2d;
            background: rgba(255,255,255,0.4);
            padding-left: 0.2em;
        }
    }

    .legend {
      @syze : 2em;
      margin-bottom:@syze;
        .results {
            display: flex;
            > div {
              margin:0em 0.5em;
              &:first-child {margin-left:0;}
              &:last-child {margin-right:0;}
              display: block;
              background: rgba(0,0,0,0.075);
              border-radius:2px;
            }
            .count {
              display: block;
              font-size:2em;
              text-align:center;
            }
            .title {
              min-width:80px;
              background: rgba(0,0,0,0.025);
              border-top-right-radius: 2px;
              display:inline-block;
              height: @syze;
              line-height:@syze;
              padding: 0em 0.5em;
            }
        }


        i {
            .matchcolors;
            border-top-left-radius: 2px;
            text-align: center;
            width: @syze;
            height: @syze;
            line-height:@syze;
        }

    }

    .headerwithguidance {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;

        h1 {
            margin-top: 0;
        }

        .guidance {
            margin-left: 1em;
        }

        .tip {
            flex-grow: 1;
            text-align: right;

            svg {
                margin-right: 4px;
            }
        }
    }

    .dropzone {
        width: 300px;
        height: 200px;
        margin: 20px;
        padding: 20px;
    }

    .dragging {
        -webkit-box-shadow: 0 0 13px 0 @highlight-color;
        -moz-box-shadow: 0 0 13px 0 @highlight-color;
        box-shadow: 0 0 13px 0 @highlight-color;
    }

    .transitions {
        transition: all 0.3s ease;
    }
}
