


div.list-container {

        .fa-star {
          color: gold;
        }

        .fa-globe, .fa-user {
            color: #009688;
        }

        .flags i {
            padding: 0 3px 0 3px;

            &.disabled {
                color: #a8a8a8;
            }
        }

    font-size: 0.9em;
    padding: 15px;

    .stress {
        color: #009688;
    }

    h4 {
        font-size: 1.2em;
    }



    .list-row {
        background: white;
        padding: 0px;


    }

     .header {
         background-color: #009688;
         color: white;
     }

    .list-row:not(:last-child) {
        border-bottom: 1px solid #ecebeb;
        margin-bottom: 3px;
    }

    div[class^="col-"] {
        padding: 5px;
    }

    div[class^="col-"]:not(:last-child), div.col:not(:last-child) {
        border-right: 1px solid #ecebeb;
    }

}


