.mymine {

    #contextMenu {
        position: absolute;
        .dropdown-menu {
            display: block;
            position: static;
            margin-bottom: 5px;
            border: 1px solid #cccccc;
        }
    }

    font-size: 1em;
    font-weight: 500;

    .icon {
        // fill: #0081f2;
        font-size: 1.5em;
    }

    .icon-folder-open, .icon-folder {
        fill: #b4af71;
    }

    .title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .bold {
        font-weight: bold;
    }

    ul {
        list-style-type: none;
    }

    .type-style {
        background-color: transparent;
        color: black;
        border-width: 0 0 0 3px;
        border-top: 1px solid #dddddd;
    }

    .folder {
        margin: 6px 0px;
        padding: 0;
        list-style-type: none;
        &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .item {
        margin: 6px 0px;
        list-style-type: none;
        &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .sub {
        font-size: 0.9em;
        // color: grey;
    }

    .mymine-row {
        display: flex;
        .grow {flex: 1 0}
        .shrink {flex: 0 1}
        .icon {margin: 0 10px;}
    }

    .editing {
        background-color: blue;
        icon {
            fill: white;
        }
    }





    .selected {
        background-color: #0081f2;
        .icon {fill: white}
        a {color: white};
        color: white;
    }

}