.mymine {

    ul {
        list-style-type: none;
    }

    .folder {
        margin: 6px 0px;
        padding: 0;
        list-style-type: none;
        &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .item {
        margin: 6px 0px;
        list-style-type: none;
        &:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

}