@import "../variables";

.navbar,
.navbar.navbar-default {
    background-color: @navbar-color;
    margin-bottom: 0;
    border-width: 0;
    border-radius: 0;

    .navbar-brand {
        color: #fff;
        font-style: bold;
        -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
        .transitions;

        &:hover {
            .transitions;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.17);
            background: lighten(@navbar-color,15%);
            color: white;
        }
    }

    li {
        .transitions;

        &:hover {
            .transitions;
            background: lighten(@navbar-color,10%);
            color: #fff;
        }
    }

    .navbar-nav > li > a:focus {
        background-color: white;
    }

    .short-name {
        display: none;
    }

    svg {
        fill: rgba(255,255,255,0.84);
    }

    .search, .search:hover {
        background: @navbar-color;

        input {
            margin-top: 8px;
        }
    }
}
@media (max-width:800px) {
    .navbar-header {
        align-self: flex-start;
    }

    .navbar {
        .long-name {
            display: none;
        }

        .short-name {
            display: inline;
        }

        .navbar-nav {
            margin-top: 0;
        }

        .container-fluid {
            margin-left: 0;
            padding-left: 2px;
            display: flex;
            flex-wrap: wrap;
            justify-content: stretch;
        }
    }

    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        &.navigation {
            border-top: 0;
            margin-bottom: 0;
            //  margin-top: 5px;
            flex-grow: 1;
            justify-content: space-around;
            display: flex;
        }
    }

    .navbar.navbar-default {
        li {
            .transitions;
            padding: 0;

            &.homelink {
                display: none;
            }

            a {
                .transitions;
                padding-left: 7px;
                padding-right: 7px;
            }

            .navbar-brand {
                .transitions;
                @cp: inset(4px 0px round 3px);
                clip-path: @cp;
                -webkit-clip-path: @cp;
                min-width: 1.3em;
                text-overflow: clip;
                font-family: "Courier New", monospace;
                overflow: hidden;
                padding-left: 0.4em;
                padding-right: 0.4em;
            }
        }
    }
}
@media (max-width:970px) {
    .navbar-nav.buttons {
        .transitions;
        margin-top: 0;
        display: flex;
        flex-grow: 1;
        border-top: solid 1px #ccc;
        justify-content: space-around;
        margin-bottom: 0;

        li {
            &.search {
                display: none;
            }
        }
    }
}

@media (max-width:1200px) {
  .navbar.navbar-default .search input {
    margin-top: 4px;
    .transitions;
  }
}
