@import "../variables";

.transition {
    transition: all 0.6s;
}

.navbar.navbar-default .navbar-brand {
    .transition;
    @bg: #00544c;
    background: @bg;

    &:hover {
        background: lighten(@bg,15%);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.17);
    }
    color: white;
    font-style: bold;
    -webkit-clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
}

.navbar-default {
    svg {
        fill: rgba(255,255,255,0.84);
    }
    border-width: 0;
    border-radius: 0;
}

@media (max-width:800px) {

    .navbar-header {
        align-self: flex-start;
    }

    .navbar {
        .navbar-nav {
            margin-top: 0;
        }

        .container-fluid {
            margin-left:0;
            padding-left:2px;
            display: flex;
            flex-wrap: wrap;
            justify-content: stretch;
        }
    }

    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        &.navigation {
            border-top: 0;
            margin-bottom: 0;
            //  margin-top: 5px;
            flex-grow: 1;
            justify-content: space-around;
            display: flex;
        }
    }

    .navbar.navbar-default {
        li {
            .transition;
            padding: 0;
            &.homelink {display:none;}

            a {
                .transition;
                padding-left: 7px;
                padding-right: 7px;
            }

            .navbar-brand {
                .transition;
                @cp: inset(4px 0px round 3px);
                clip-path: @cp;
                -webkit-clip-path: @cp;
                width: 1.3em;
                text-overflow: clip;
                font-family: mono;
                overflow: hidden;
                letter-spacing: 3em;
                padding-left: 0.4em;
                padding-right: 0.4em;
            }
        }
    }
}
@media (max-width:970px) {
    .navbar-nav.buttons {
        .transition;
        margin-top: 0;
        display: flex;
        flex-grow: 1;
        border-top: solid 1px #ccc;
        justify-content: space-around;
        margin-bottom: 0;

        li {
            &.search {
                display: none;
            }
        }
    }
}
