@import "../variables";
@import "../datatype-colors";
@model-browser-bg: #f7f7f7;
@model-browser-fg: black;
@model-browser-class: #29b6ff;
@query-browser-bg: white;
@query-browser-fg: black;
@query-browser-class: #29b6ff;
@model-browser-class: #0090da;
@swith: 300px;

//this is the value by which we offset the borders of the
//various QB trees to make it look like a tree ofrmat and not
//just normal box borders

@border-offset: 0.7em;

.danger {
    @dangercolor: #9d5858;
    color: @dangercolor;
    fill: @dangercolor;
}

div.column-container {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 54px;

    .model-browser-column {
        width: 400px;
        background-color: @model-browser-bg;
        color: @model-browser-fg;
        overflow: auto;
    }

    .query-view-column {
        padding: 20px;
        flex: 1 0;
        background-color: white;
        overflow-y: scroll;

        .panel {
            border: 1px solid #e5e5e5;
        }
    }
}

.contract {
    max-width: 400px;
}

.main-window {
    position: fixed;
    left: @swith;
    top: 60px;
    bottom: 54px;
    right: 0;
    // padding-left: @swith;
    // padding: 20px;
    width: 100%;
    background-color: white;
}

.addfilter {
    font-weight: normal;
    color: black;
    padding-left: 15px;
    font-size: 0.8em;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.playground {
    font-size: 0.8em;
    font-family: "monospace";
    max-height: 500px;
    overflow-y: scroll;
    .noselect;
    cursor: pointer;
    background-color: white;
    padding: 20px;

    li,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul {
        padding-left: 1em;
    }

    li {
        padding-left: 1em;
        border: 1px solid #d5d5d5;
        border-width: 0 0 1px 1px;
    }

    li.haschildren {
        border-bottom: 0;
    }

    li.empty {
        font-style: italic;
        color: silver;
        border-color: silver;
    }

    li ul {
        border-top: 1px solid #d5d5d5;
        margin-left: -1em;
        padding-left: 2em;
    }

    ul li:last-child ul {
        border-left: 1px solid white;
        margin-left: -17px;
    }

    .il {
        margin: 2px;
        padding: 2px;
        text-transform: none;
        // font-size: 0.8em;
    }

    .hotlink {
        a {
            color: #039be5;
            padding-left: 3px;
            padding-right: 3px;
            font-size: 0.8em;
            font-style: italic;
        }
    }
}

.qb-container {
    font-size: 0.8em;
    // font-family: "monospace";
    .qb-attribute {
        font-style: italic;
    }
}

.flexmex {
    display: flex;
    position: relative;
    top: @border-offset;
    background: white;

    .con {
        flex: 1 0;
        display: flex;
        flex-direction: column;
    }
}

.query-browser {
    .icon, .icon-filter, .icon-edit {
      fill: darken(silver,20%);
      .arr;
    }
    .icon-filter {
        width: @border-offset;
        margin-left:0;
    }
    .logic-box pre {display:flex;align-items:center;}
    .noselect;
    font-size: 1.1em;
    cursor: pointer;
    background-color: @query-browser-bg;
    color: @query-browser-fg;
    padding: 0 20px 20px;

    li.tree,
    ul.tree {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.tree {
        padding-left: 1em;
        padding-left: 0;
    }

    li.tree {
        padding-left: 1em;
        // padding-left: 0.2em;
        border: 1px solid #d5d5d5;
        border-width: 0 0 1px 1px;
    }

    li.tree.haschildren {
        border-bottom: 0;
    }

    li.tree.empty {
        font-style: italic;
        color: silver;
        border-color: silver;
    }

    li.tree p {
        margin: 0;
        // font-size: 1.2em;
        background: @query-browser-bg;
        position: relative;
        top: 0.5em;
        top: @border-offset;

        &.classy {
            font-size: 1.5em;
            font-style: italic;
            font-weight: bold;
        }
    }

    li.tree ul.tree {
        border-top: 1px solid #d5d5d5;
        margin-left: -1em;
        padding-left: 2em;
    }

    ul.tree li.tree:last-child ul.tree {
        border-left: 1px solid white;
        margin-left: -1em;
    }

    .il {
        margin: 2px;
        padding: 2px;
        text-transform: none;
        // font-size: 0.8em;
    }

    .qb-attribute {
        // font-style: italic;
        // padding-left: 19px;
        white-space: nowrap;
    }

    .qb-class {
        font-weight: 500;
        color: @query-browser-class;
        white-space: nowrap;
    }

    .light {
        color: #898989;
    }

    .semilight {
        color: #c1c1c1;
    }

    select {
        background-color: gainsboro;
    }

    .subclass {}
}

.model-browser {
    .icon {
        fill: darken(silver,10%);
    }
    .noselect;
    font-size: 0.9em;
    cursor: pointer;
    background-color: @model-browser-bg;
    color: @model-browser-fg;
    padding: 0 20px 20px;

    li,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul {
        padding-left: 1em;
        padding-left: 0;
    }

    li {
        padding-left: 1em;
        // padding-left: 0.2em;
        border: 1px solid #d5d5d5;
        border-width: 0 0 1px 1px;

        &.haschildren {
            border-bottom: 0;
        }

        &.empty {
            font-style: italic;
            color: silver;
            border-color: silver;
        }

        ul {
            border-top: 1px solid #d5d5d5;
            margin-left: -1em;
            padding-left: 2em;
        }
    }

    ul li:last-child ul {
        border-left: 1px solid white;
        margin-left: -1em;
    }

    .il {
        margin: 2px;
        padding: 2px;
        text-transform: none;
        // font-size: 0.8em;
    }

    .qb-attribute {
        // font-style: italic;
        // padding-left: 19px;
        white-space: nowrap;
    }

    .qb-class {
        font-weight: 500;
        color: @model-browser-class;
    }

    .light {
        color: #898989;
    }

    .semilight {
        color: #c1c1c1;
    }

    select {
        background-color: gainsboro;
    }

    li.haschildren > span {
        display: flex;
        background-color: @model-browser-bg;
        align-items: center;
    }

    li {
        position: relative;
    }

    .expanded-group > .group-title {
        background-color: @model-browser-bg;
        margin-bottom: -@border-offset;
        z-index: 12;
        position: relative;
    }

    .expanded-group ul {
        padding-top: @border-offset;
        z-index: 11;
    }
}

.arr {
    transition: all 90ms ease;
}

.arrow-down {
      transform: rotate(45deg);
}

.qb-label {
    padding-left: 0;
    white-space: nowrap;
}

.icon-blank::before,
.icon-spacer::before {
    width: 1.28571429em;
    content: ' ';
}

.contract {
    &.empty {
        .input-group input[type=text] {
            border: 0;
            border-left: solid 1px #ccc;
            border-radius: 0;
            background-color: #f7f7f7;
        }
    }
    margin-top: 0.3em;
    padding: 0.3em 0;

    .input-group {
        border: solid #ccc 1px;
    }

    .input-group input[type=text] {
        border: 0;
        border-left: solid 1px #ccc;
        border-radius: 0;
    }

    .input-group-btn .btn {
        margin-bottom: 0;
        padding: 6px 12px;
    }

    .input-group .input-group-btn {
        padding: 0;
        background-color: #ddd;
    }

    .constraint-label {
        border-left: solid 1px #ccc;
        background-color: #ddd;
        display: table-cell;
        width: 2.5em;
        text-align: center;
        vertical-align: middle;
    }

    .form-control {
        height: 2em;
    }
}

.sort-order {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;

        i {
            padding: 0 10px;
        }
        margin: 5px;
        padding: 10px;
        background-color: #03a9f4;
        color: white;
    }
}

.dragme {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        transition: all 100ms ease;
        background-color: #f7f7f7;
        padding: 7px;
        margin: 2px;
        border: 1px solid grey;
        display: inline;

        &.dragging {
            background-color: @model-browser-class;
            // background-color: white;
            opacity: 0.8;
            color: white;
            // margin-top: 15px;
            // padding-top: 15px;
        }
    }
}

.part {
    padding: 2px;
}

.label-button {
    font-size: 0.8em;
    margin-left: 2px;
    padding: 1px 3px;
    transition: all 100ms ease;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    background-color: white;

    &:hover {
        background-color: @model-browser-class;
        border: 1px solid @model-browser-class;
        color: white;
    }
}

.sort-order-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    transition: all 100ms ease;

    &.dragtest {
        background-color: #f7f7f7;
        border-radius: 10px;

        > * {
            background-color: white;
        }
    }

    > * {
        font-size: 0.9em;
        cursor: -webkit-grab;
        transition: all 100ms ease;
        background-color: #f7f7f7;
        padding: 7px;
        margin: 2px;
        border: 1px solid grey;
        display: inline;

        &.dragging {
            background-color: @model-browser-class;
            opacity: 0.8;
            color: white;
            margin-left: 15px;
        }
    }
}

.label-soft {
    background-color: #c8ced0;
    color: #666;
    border-radius: 3px;
}

.label-no-results {
    background-color: #df7d7d;
    color: white;
    border-radius: 3px;
}

.btn-slim {
    margin: 1px;
    padding: 3px;
    text-transform: none;
    // background-color: white !important;
}

.scrollable-dropdown {
    overflow-y: auto;
    max-height: 300px;
}

.constraint-component {
    display: flex;
    align-items: center;

    .icon {
        min-width: 1em;
    }
}

.icon.icon-bin {
    .danger;
}

.constraint-input {
    input[type="text"] {
        transition: .4s;
    }
    .disabled {
        color: grey;
        fill: grey;
        color: #666666;
        background-color: #cccccc;
    }
}
//yes this is overly specific. Sorry, bootstrap is bad to
//override.

.constraint-operator.input-group-btn button.btn {
    text-transform: none;
}
