
/**
 * Framework starts from here ...
 * ------------------------------
 */

.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:1.2em; /* default list item's `line-height` */

  position:relative;

  .leaf {
    // font-style: italic;
  }
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}

.tree li i.pad-left {
    padding-left: 5px;
}

.tree li i.pad-right {
    padding-right: 5px;
}

dfh.active {
    font-weight:bold;
    color: #006a9f;
}





.query-tree
{
  list-style: none;
  padding-left: 1em;
}

.query-constraint
{
  list-style: none;
  padding-left: 0.5em;
}

.query-constraint>li
{
  color: grey;
  padding-left: 0em;
}

.query-selected
{
  color: green;
}

.query-not-selected
{
  color: grey;
}

.qb-tiny-constraint
{
  font-size: 1em;
  cursor: default;
  align-items: center;
}

.qb-constraint-value
{
  font-size: 1em;
  color: grey;
  border:none;
}

.qb-constraint-op
{
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
}

.qb-constraint-op:hover
{
  cursor: default;
}

.undos
{
  display: flex;
  flex-flow: row wrap;
}

.undo
{
  background: grey;
  width: 1em;
  height: 1em;
  margin: 1px;
}

.redo
{
  background: black;
  width: 1em;
  height: 1em;
  margin: 1px;
}

.undo:last-child
{
  background: green;
}

.redo:first-child
{
  background: blue;
}

.selected-button
{
  background: grey;
}

.autoupdate-button
{
  width: 1em;
  height: 1em;
}

.buttony
{
  cursor: pointer;
}

.buttony:hover
{
  opacity: 0.8;
}