@import "../variables";
@import "../datatype-colors";
@import "../layouts/input-dashed-style";

.regionsearch {
    @selected-color: #fff;
    @deselected-color: #eee;

    label {
        font-size: 1em;
    }

    div.region-results {
        display: flex;
        flex-direction: column;

        div.region-row {
            display: flex;
            flex-direction: row;
            flex: 1 0;
            border: 1px solid black;

            div.summary-column {
                flex: 1 0;
            }

            div.regular-column {
                flex: 1 1;
            }
        }
    }

    .input-section {
        .input-dashed-style;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        > div {
            margin: 0 @spacer;
        }

        textarea {
            background: #fff;
            .box-shadow;
            margin-top: 0;
        }
        @media(max-width:@tiny-screen) {
            flex-wrap: wrap;

            > div {
                margin: @spacer/2 0;
            }
        }
    }

    svg.region {
        background-color: white;
        // border: 1px solid #eaeaea;
        rect.datum {
            opacity: 0.2;
            fill: @highlight-color;
        }

        path.guide {
            stroke: black;
            fill: none;
        }
    }

    .feature-tree-container {
        font-size: 0.9em;
        max-height: 40vh;
        min-height: 20vh;
        overflow-y: scroll;
        background: rgba(255,255,255,0.3);
        .transitions;

        &.shrinkified {
            max-height: 10em;
            min-height: 5em;
        }
    }

    ul.features-tree {
        column-count: 2;
        column-width: 200px;
        column-rule: dotted 1px grey;
        list-style-type: none;
        padding-left: 0;

        li {
            padding: @spacer/4 0 @spacer/4 @spacer*1.5;
            border: 1px solid transparent;
        }

        & i {
            padding-right: 3px;
        }
    }

    .fattysubmitbutton {
        width: 100%;
        margin-bottom: 0;
        margin-top: auto;
    }

    .clear-textbox {
        background: rgba(0,0,0,0.4);
        color: #fff;
        height: @spacer*1.5;
        width: @spacer*1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: -@spacer*1.5;
        top: @spacer*1.5;
        right: -1px;
        font-weight: bold;
        cursor: pointer;
        float: right;
    }

    .checkboxes {
        flex-grow: 2;
    }

    .organism-and-regions {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        min-width: 30vw;
    }

    .results {
      .header-styles;
    }
}
