@import "../variables";

.reset-password-page {
    // You can adjust the sizing and spacing by only changing this, as they're
    // all relative. The original font size in the design was 1em.
    font-size: 1em;

    margin-top: @spacer*2;
    margin-bottom: @spacer*4;

    .reset-password-new {
        max-width: @spacer*25;
    }

    .reset-password-success {
        margin-top: @spacer;
        text-align: center;

        .icon {
            fill: @success-text-color;
            font-size: 5em;
        }
    }
}
