@import "../variables";
@crazy-padding: 60px;

.lb-sm {
    font-size: 0.6em;
}

.lb-md {
    font-size: 1.2em;
}

.lb-lg {
    font-size: 2em;
}

.template-constraint-container {
    margin-bottom: 10px;
}

.constraint-component-label {
    font-weight: bold;
}

.templates {
    .preview {
        max-width: 60vw;
        overflow-x: "hidden";
    }

    .view-results {
        min-width: 200px;
    }

    .template-filters {
        background: darken(@body-background-color,3%);
        //this padding stops content showing through at weird breakpoints;
        padding-top: @crazy-padding;
        position: fixed;
        z-index: 42; //a higher z-index than light tables is the answer. And 42 is always the answer.
        margin-top: -@crazy-padding;
        padding-bottom: 2px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        right: 0;
        left: 0;

        .template-filter {
            .control-label {
                margin-top: 1px;
            }
        }
    }

    .template-categories {
        display: flex;
        flex-wrap: wrap;
        border-bottom: solid 1px #ddd;

        &.nav {
            li {
                a {
                    border-width: 0;
                    color: inherit;
                    padding: 0 0.5em;
                    border-bottom-width: 3px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    background: rgba(0,0,0,0.05);
                }

                &.active a {
                    background-color: rgba(0,0,0,0.5);
                    color: #fff;
                }
            }
        }
    }

    .bad-placeholder .template-filters {
        //this is some wicked, evil styling which keeps a placeholder for the
        //position:fixed filters, and pushes the content after it down so it's not
        //overlapped. one day in the future we'll be able to use position:sticky
        position: static;
        visibility: hidden;
    }

    .no-results {
        margin-top: @spacer;
        font-size: 1.2em;
        text-align: center;

        a {
            color: @highlight-color;
        }
    }

    .template-list {
        max-width: 1200px;
        display: flex;
        flex-direction: column;

        .grid-1 {
            flex-grow: 1;
        }
    }

    .templates-section {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 50px;
        left: 0;
        display: flex;
        overflow: hidden;
        transition: all 0.6s;

        .x-section {
            flex: 1 0;
            padding: 20px 20px 1px; // the 1px bottom just helps us feel like it's not vanishing under the footer with hidden content

            &:first-child {
                padding-right: 0;
            }
        }

        .x-main {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .x-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            transition: all 0.6s;
            width: 100%;
        }

        .x-scrollable-content {
            flex: 1 1 auto;
            overflow-y: auto;
            min-height: 0;
        }

        .x-box {
            min-height: -webkit-min-content;
            display: flex;
        }

        .x-column {
            padding: 20px;
            border-right: 1px solid #999;
        }

        .x-column > div {
            height: 2000px;
        }

        .x-column:nth-child(2) > div {
            height: auto;
        }

        .pane {
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
            background-color: white;

            .pane-heading {
                background-color: #eeeeee;
                padding: 10px;
                font-size: 1.2em;
            }

            .pane-body {
                padding: 10px;
            }
        }

        .soft {
            background-color: #e6eaea;
            color: black;
        }

        .template-result {
            &:after {
                content: " ";
                display: block;
                clear: both;
            }

            .view-results {
                display: inline-block;
                float: right;
                text-decoration: underline;
                color: lighten(@body-foreground-color,10%);
            }

            &.active .view-results {
                color: #fff;
            }
        }

        .nav-pills > li > a {
            padding: 0.3em 0.8em;
        }

        .results {
            margin-top: 1em;
            transition: all 0.6s;

            .icon {
                margin-right: 2px;
            }

            .pane-body {
                overflow: auto;
            }

            h2 {
                margin-top: 0;
            }
        }
    }
    @media (max-width: @tiny-screen) {
        .templates-section {
            .x-section {
                padding: 4px;
                transition: all 0.6s;

                &:first-child {
                    padding-right: 4px;
                }
            }

            .select-a-template {
                order: 2;
                transition: all 0.6s;
            }

            .see-template-details {
                order: 1;
                transition: all 0.6s;
            }
            // this needs to be on the top for mobiles
            flex-direction: column;
            transition: all 0.6s;
            position: static;
            overflow: auto;
            bottom: auto;
            right: auto;
            top: auto;

            table.small {
                margin-bottom: 0;
            }

            table > tbody > tr > td {
                padding: 4px;
                transition: all 0.6s;
            }
        }
    }

    .template {
        background-color: white;
        margin: 5px 20px;
        padding: @spacer @spacer 0;
        border: 1px solid #ecebeb;
        border-bottom: solid 3px #ecebeb;
        .transitions;

        :hover {
            cursor: pointer;
        }

        .title {
            font-size: 1.4em;

            h4 {
                margin: 0;
            }
        }

        .description {
            margin: 20px;
        }

        .border-right {
            border-right: 1px solid #d8d8d8;
        }

        .stretch-buttons .btn {
            width: 100%;
        }

        .body {
            .form-group {
                margin: 0;
            }

            .btn,
            .input-group-btn .btn {
                margin: 0;
                padding-top: 8px;
            }

            .form-group .checkbox label,
            .form-group .radio label,
            .form-group label {
                color: black;
                font-size: 1.2em;
            }
        }

        &.selected {
            // background-color: white;
            margin: 5px 0;
            .transitions;
            color: black;
            -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.33);
            -moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.33);
            box-shadow: 0 2px 5px -1px rgba(0,0,0,0.33);

            // remove pointer from selected template
            :hover {
                cursor: default;
            }

            .input-group {
                :hover {
                    cursor: pointer;
                }
            } 
        }
    }

    .template-tags {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        bottom: -3px;
        position: relative;

        .tag-type {
            background-color: #eee;
            color: inherit;
            padding: 0.2em 0.4em;
            margin: 0 0 0 0.2em;
            border-width: 0 0 3px 0;
            border-radius: 2px;
        }
    }

    .view {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        bottom: -27px;
        position: relative;
        border: none;
        background-color: #039BE5;
        color: #FFFFFF;
    }
}

@media (min-width:1200px) {
    .templates .template-filters {
        margin-top: -10px - @crazy-padding;
    }
}
@media (max-width:600px) {
    .templates .template-filters .template-filter .control-label {
        margin-top: 1 4px;
    }
}
