@import "../variables";
@crazy-padding: 60px;

.lb-sm {
    font-size: 0.6em;
}

.lb-md {
    font-size: 1.2em;
}

.lb-lg {
    font-size: 2em;
}

.template-constraint-container {
    margin-bottom: 10px;
}

.constraint-component-label {
    font-weight: bold;
}


.affix + .template-container {
    padding-top: 102px;
}

// Make sure the scroll-top element is near the bottom when there's little content.
.template-container {
    min-height: ~"calc(100% - 135px)";
}

.template-component-container {
    width: 100%;
    padding-bottom: @spacer*2;

    .preview {
        max-width: 60vw;

        .preview-header {
            display: flex;

            .preview-header-loader {
                position: relative;
                top: 0.6*@spacer;
                left: 0.6*@spacer;
            }
        }

        .preview-table-container {
            overflow-x: auto;
            margin-bottom: @spacer*2;

            .table {
                margin-bottom: 0;
            }
        }

        .btn-link {
            padding: 8px 10px;
        }

        .more-actions {
            .action-button {
                font-weight: 400;
                color: @highlight-color;
                fill: @highlight-color;
            }

            .web-service-url-container {
                padding: @spacer/4 @spacer/2;

                p { padding: 0; }

                input {
                    width: 500px;
                }
            }
        }
    }

    .view-results {
        min-width: 200px;
    }

    .template-filters {
        background: darken(@body-background-color,3%);
        z-index: 42; //a higher z-index than light tables is the answer. And 42 is always the answer.
        box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        width: 100%;

        // Stick to top when scrolling past it.
        position: sticky;
        top: 0;

        .template-filter {
            margin: @spacer/2;
            flex-grow: 1;

            &-container {
                display: flex;
                justify-content: center;
            }

            &.text-filter {
                padding-left: @spacer/2;

                .filter-input {
                    display: flex;
                    align-items: center;

                    .icon {
                        flex-shrink: 0;

                        &.authorized {
                            fill: @authorized-color;
                        }
                    }
                }
            }

            .control-label {
                margin-top: 1px;
                color: darken(@body-background-color,50%);
            }

            .form-control {
                width: 350px;
            }
        }
    }

    .template-categories {
        display: flex;
        flex-wrap: wrap;

        &.nav {
            li {
                a {
                    border-width: 0;
                    color: inherit;
                    padding: 0 0.5em;
                    border-bottom-width: 3px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    background: rgba(0,0,0,0.05);
                }

                &.active a {
                    background-color: rgba(0,0,0,0.5);
                    color: #fff;
                }
            }
        }
    }

    .bad-placeholder .template-filters {
        //this is some wicked, evil styling which keeps a placeholder for the
        //position:fixed filters, and pushes the content after it down so it's not
        //overlapped. one day in the future we'll be able to use position:sticky
        position: static;
        visibility: hidden;
    }

    .no-results {
        margin-top: @spacer;
        font-size: 1.2em;
        text-align: center;

        a {
            color: @highlight-color;
        }
    }

    .template-list {
        max-width: 1200px;
        display: flex;
        flex-direction: column;

        .grid-1 {
            flex-grow: 1;
        }
    }

    .templates-section {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 50px;
        left: 0;
        display: flex;
        overflow: hidden;
        transition: all 0.6s;

        .x-section {
            flex: 1 0;
            padding: 20px 20px 1px; // the 1px bottom just helps us feel like it's not vanishing under the footer with hidden content

            &:first-child {
                padding-right: 0;
            }
        }

        .x-main {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .x-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            transition: all 0.6s;
            width: 100%;
        }

        .x-scrollable-content {
            flex: 1 1 auto;
            overflow-y: auto;
            min-height: 0;
        }

        .x-box {
            min-height: -webkit-min-content;
            display: flex;
        }

        .x-column {
            padding: 20px;
            border-right: 1px solid #999;
        }

        .x-column > div {
            height: 2000px;
        }

        .x-column:nth-child(2) > div {
            height: auto;
        }

        .pane {
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
            background-color: white;

            .pane-heading {
                background-color: #eeeeee;
                padding: 10px;
                font-size: 1.2em;
            }

            .pane-body {
                padding: 10px;
            }
        }

        .soft {
            background-color: #e6eaea;
            color: black;
        }

        .template-result {
            &:after {
                content: " ";
                display: block;
                clear: both;
            }

            .view-results {
                display: inline-block;
                float: right;
                text-decoration: underline;
                color: lighten(@body-foreground-color,10%);
            }

            &.active .view-results {
                color: #fff;
            }
        }

        .nav-pills > li > a {
            padding: 0.3em 0.8em;
        }

        .results {
            margin-top: 1em;
            transition: all 0.6s;

            .icon {
                margin-right: 2px;
            }

            .pane-body {
                overflow: auto;
            }

            h2 {
                margin-top: 0;
            }
        }
    }
    @media (max-width: @tiny-screen) {
        .templates-section {
            .x-section {
                padding: 4px;
                transition: all 0.6s;

                &:first-child {
                    padding-right: 4px;
                }
            }

            .select-a-template {
                order: 2;
                transition: all 0.6s;
            }

            .see-template-details {
                order: 1;
                transition: all 0.6s;
            }
            // this needs to be on the top for mobiles
            flex-direction: column;
            transition: all 0.6s;
            position: static;
            overflow: auto;
            bottom: auto;
            right: auto;
            top: auto;

            table.small {
                margin-bottom: 0;
            }

            table > tbody > tr > td {
                padding: 4px;
                transition: all 0.6s;
            }
        }
    }

    .template {
        background-color: white;
        margin: 5px 20px;
        padding: @spacer @spacer 0;
        border: 1px solid #ecebeb;
        border-bottom: solid 3px #ecebeb;

        position: relative;
        min-height: @spacer*7;

        cursor: pointer;

        .transitions;

        .title {
            font-size: 1.4em;

            h4 {
                margin: 0;
            }
        }

        .description {
            margin: 20px;
        }

        .border-right {
            border-right: 1px solid #d8d8d8;
        }

        .stretch-buttons .btn {
            width: 100%;
        }

        .body {
            .form-group {
                margin: 0;
            }

            .btn,
            .input-group-btn .btn {
                margin: 0;
                padding-top: 8px;
            }

            .form-group .checkbox label,
            .form-group .radio label,
            .form-group label {
                color: black;
                font-size: 1.2em;
            }
        }

        &.selected {
            // background-color: white;
            margin: 5px 0;
            .transitions;
            color: black;
            -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.33);
            -moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.33);
            box-shadow: 0 2px 5px -1px rgba(0,0,0,0.33);

            // remove pointer from selected template
            cursor: default;

            border-left: 3px solid @highlight-color;
        }
    }

    .template-tags {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        bottom: -3px;
        position: relative;
        white-space: nowrap;
        width: 100%; // Without this the relative positioning mucks up completely.

        min-height: 2em; // So it still takes place in card even when no tags.

        .tag-type {
            background-color: #eee;
            color: inherit;
            padding: 0.2em 0.4em;
            margin: 0 0 0 0.2em;
            border-width: 0 0 3px 0;
            border-radius: 2px;
            cursor: pointer;
        }

        .permissions {
            align-self: center;
            margin-right: 0.8em;
        }

        .permission {
            background-color: #eee;
            padding: 0.4em 0.4em;
            margin: 0 0.2em;
            border-width: 0 0 3px 0;
            border-radius: 2px;

            .icon {
                margin: 0;

                &.authorized {
                    fill: @authorized-color;
                }
            }
        }
    }

    .view {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        bottom: 0;
        position: absolute;
        border: none;
        background-color: #039BE5;
        color: #FFFFFF;
        z-index: 1;
    }
}

/**
@media (min-width:1200px) {
    .templates .template-filters {
        margin-top: -10px - @crazy-padding;
    }
}
@media (max-width:600px) {
    .templates .template-filters .template-filter .control-label {
        margin-top: 1 4px;
    }
}
**/

.constraint-container {
    input {
        display: inline;
    }

    .icon {
        display: inline
    }
}
