@import "../variables";

.tools {
    @visible-gray: #ccc;

    margin-bottom: @spacer*4;

    .tool-container {
        background-color: @content-color-background;
        margin-bottom: @spacer/2;
        border: 1px solid @visible-gray;

        .tool-header {
            background-color: @visible-gray;
            padding: @spacer @spacer @spacer @spacer*1.5;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .tool-title {
                display: inline;
                margin: 0;
            }

            .tool-toggle {
                font-size: 1.2em;
                padding: 0;
                margin: 0;
                outline: 0;
            }
        }

        .tool {
            // Tools should decide themselves if they want padding.
            // If this wasn't a good idea after all, uncomment!
            // padding: @spacer*2 @spacer*2.4;
            overflow: auto;
        }
    }
}
